:root{
    --lion: #EEC250;
    --tiger: #DA834C;
    --wolf: #C6443F;
    --bear: #9FC2DC;
    --webelos: #8E9F63;
    --arrow-of-light: #E9D8C5;
    --cub-blue: #002F6D;
    --cub-yellow: #FFCE04;
}